font-face {
   font-family: myfont;
   src: url(Marzan\ Bold\ DEMO.ttf);
}
body,ul{
   margin: 0;
   padding: 0;
   background-color: black;
   color: white;
   box-sizing: border-box;

}
h1{
   font-family: myfont;
   text-transform: uppercase;
}
.outer-container{
   width: 100%;
   max-width:1200px;
   margin: 0 auto;
   padding: 0 15px;
}

.header ul{
   display: flex;
   justify-content:end;
    padding: 15px;
   gap:70px;
   margin: 5px;
}
.header,li,a{
   color: white;
   cursor: pointer;
   font-family: monospace;
   font-size: 20px;
   font-weight: bold;
   transition: .4s ease-in-out;
   text-decoration:none;
   list-style-type: none;
}
.header li,a:hover{
   color:rgb(231, 9, 150);
}
p{
margin: 0px;
padding: 0px;
}
.body-container{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   gap: 20px;
   margin-left: 50px;
   margin-top: 6%;
}
.about-container{
   flex: 1;
   max-width: 600px;
}
.about-container p{
   margin-bottom: 15px;
   margin: 10px;
   padding: 0px;
}
.profile-pic{
   width:20%;
   max-width: 300px;
   border-width: 10px; 
   border-radius: 12px;
   margin-left:10%;
   cursor: pointer;
 }
 .skill-set{
   display: flex;
   flex-wrap: wrap;
   
 }
 .skill-img{
   width:5%;   
   max-width: 300px;
   cursor: pointer;
   margin-right: 5px;
 }
 h4{
   text-transform: uppercase;
   color:rgb(231, 9, 150);
   letter-spacing:4px;
 }
 .college{
   color: white;
   font-size: 20px;
   font-weight: bold;
  text-transform: uppercase;
 }
 
 .study-yr{
   color: rgb(182, 177, 177);
   font-size: 15px;
   font-weight:700;
  
   text-transform: uppercase;
 }
 .Eduction{
   margin-top: 10px;

 }
/* Responsive Design*/
@media screen and (max-width : 768px){
   .header{
      flex-direction: column;
      align-items: flex-start;
   }
   .header,ul{
      flex-direction: column;
     margin: -10px;
      
   }
   .body-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   }
   .about-container{
      text-align: center;
   }
}
@media screen and (max-width: 768px) {
.profile-pic{
   max-width:100%;
}
.header,ul{
   align-items: center;
}

}
