@font-face {
   font-family: myfont;
   src: url(Marzan\ Bold\ DEMO.ttf);
}
body,ul{
   margin: 0;
   padding: 0;
   background-color: black;
   color: white;
   box-sizing: border-box;
   font-family:Arial,sans-serif;
}
.outer-container{
   width: 100%;
   max-width:1200px;
   margin: 0 auto;
   padding: 0 15px;
}
.header{
   display: flex;
   justify-content:end;
   align-items: center;
   padding: 15px;
   margin: 5px;
   
}
.Nav-bar ul{
   display: flex;
   gap: 70px;
   list-style: none;
}
.Nav-bar li,a{
   color: white;
   cursor: pointer;
   font-family: monospace;
   font-size: 20px;
   font-weight: bold;
   transition: .4s ease-in-out;
   text-decoration: none;
}
.Nav-bar li,a:hover{
   color: rgb(234, 59, 179);
}
.body-container{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   gap: 15px;
   margin-left: 50px;
   margin-top: 6%;
}
.about-container{
   flex: 1;
   max-width: 600px;
}
.about-container p{
   margin-bottom: 15px;
   margin: 0px;
   padding: 0px;
}

.hello{
   font-family:myFont;
   font-size:30px;
   letter-spacing: 3px;
}
.intro{
   font-family: myFont;
   font-size: 30px;
   letter-spacing: 7px;
}
.contact{
   padding: 10px 20px;
   margin: 10px;
   color: white;
   font-weight: bold;
   border-radius: 14px;
   border: 1px solid white;
   background-color:transparent;
   cursor: pointer;
   margin: 10px;
   transition:.4s ease-in-out;
   
}
.contact:hover{
color: rgb(234, 59, 179);
}
.profile-pic{
  width:80%;
  max-width: 300px;
  border-width: 10px; 
  border-radius: 12px;
  margin-left:10%;
  cursor: pointer;
}
.icons{
   display: flex;
   gap: 15px;
   margin-top:20px;
}
.icons a{
   font-size: 24px;
   color: white;
   text-decoration: none;
}
.icons a:hover{
   color: rgb(234, 59, 179);
}
/* Responsive Design*/
@media screen and (max-width : 768px){
   .header{
      flex-direction: column;
      align-items: flex-start;
   }
   .Nav-bar ul{
      flex-direction: column;
      gap:15px;
   }
   .about-container{
      text-align: center;
   }
}
@media screen and (max-width: 768px) {
.profile-pic{
   max-width:100%;
}
.Nav-bar ul{
   align-items: center;
}
.icons{
   justify-content: center;
   margin-top:20px;
}
.icons a{
   font-size: 20px;
}
}





















